<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">

    <title>로그인 - Gaagle</title>

</head>

<div id="wrapper" layout:fragment="content">
    <div class="login">
        <!-- 로고 -->
        <h1 class="logo">
            <span>G</span>
            <span>a</span>
            <span>a</span>
            <span>g</span>
            <span>l</span>
            <span>e</span>
        </h1>

        <h1 id="login_text">로그인</h1>
        <h2>카카오/네이버 계정 사용</h2>
        <ul>
            <li class="login_select">
                <a href="/oauth2/authorize/kakao">
                    <img src="/images/kakao_login.png" alt="kakao login" width="170px">
                </a>
            </li>
            <li class="login_select">
                <br>
                <a href="/oauth2/authorize/naver">
                    <img src="/images/naver_login.png" alt="naver login" width="170px">
                </a>
            </li>
        </ul>
    </div>
</div>

</html>