### Jupyter, vscode파일 ###
.ipynb_checkpoints/
__pycache__/
.vscode/

### test코드 ###
/old_code/test

### 데이터 폴더 ###
/data
/model
/backup

### Spring ###
spring/.gradle/
spring/bin/
spring/build/

### 설정파일 ###
config.json
config.properties
