<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/loader.css">

    <title>Gaagle</title>

</head>

<body>
    <!-- 내비게이션바 -->
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/board/list}">게시판</a>
            </li>
            <th:block sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/login}">로그인</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/info}">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/logout}" onclick="return confirm('로그아웃 하시겠습니까?')">로그아웃</a>
                  </li>
            </th:block>
        </ul>
    </nav>



    <!-- 로고 -->
    <h1 id="logo">
        <span>G</span>
        <span>a</span>
        <span>a</span>
        <span>g</span>
        <span>l</span>
        <span>e</span>
    </h1>

    <!-- 검색창 -->
    <form th:action="@{/query_search}" method="get" onsubmit="showLoader()">
        <input type="text" name="query" placeholder="Gaagle 검색 ">
        <!-- 검색버튼 -->
        <div class="button_box">
            <button type="submit">검색</button>
            <button type="submit">I'm Feeling Lucky</button>
        </div>
    </form>



    <!-- 스피너 -->
    <div class="d-none" id="loader"></div>
    <script>
        function showLoader() {
        document.getElementById("loader").classList.remove("d-none");
        }
    </script>


</body>

</html>