<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"> 
    
    <title>Gaagle</title>

</head>
<body>
    <!-- 내비게이션바 -->
    <nav>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/board/list">게시판</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/login">로그인</a>
            </li>
        </ul>
    </nav>



    <!-- 로고 -->
    <h1 id="logo">
        <span>G</span>
        <span>a</span>
        <span>a</span>
        <span>g</span>
        <span>l</span>
        <span>e</span>
    </h1>

    <!-- 검색창 -->
    <form action="/query_search" method="get">
        <input type="text" name="query"  placeholder="Gaagle 검색 ">
        <!-- 검색버튼 -->
        <div class="button_box">
            <button type="submit">검색</button>
            <button type="submit">I'm Feeling Lucky</button>
        </div>
    </form>
</body>
</html>