<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>뉴스 결과</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container my-5" id="newsFormWrapper">
        <h1 class="text-center">뉴스</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>언론사</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>검색</th>
                </tr>
            </thead>
            <tbody>
                <!-- newsList를 반복하여 출력 -->
                <tr th:each="news : ${newsList}">
                    <td th:text="${news.newsPress}"></td>
                    <td>
                        <a th:href="${news.newsLink}" th:text="${news.newsTitle}" target="_blank"></a>
                    </td>
                    <td th:text="${#temporals.format(news.newsDate, 'yyyy년 MM월 dd일')}"></td>
                    <td>
                        <th:block
                            th:if="${#temporals.format(news.newsDate.minusDays(1), 'yyyy-MM-dd') &gt;= '2021-01-01'}">
                            <form id="newsForm" action="/search" method="get">
                                <select class="form-control" name="newsPress">
                                    <option value="경향신문" selected>경향신문</option>
                                    <option value="국민일보">국민일보</option>
                                    <option value="뉴스1">뉴스1</option>
                                    <option value="뉴시스">뉴시스</option>
                                    <option value="동아일보">동아일보</option>
                                    <option value="문화일보">문화일보</option>
                                    <option value="서울신문">서울신문</option>
                                    <option value="세계일보">세계일보</option>
                                    <option value="연합뉴스">연합뉴스</option>
                                    <option value="조선일보">조선일보</option>
                                    <option value="중앙일보">중앙일보</option>
                                    <option value="한겨레">한겨레</option>
                                    <option value="한국일보">한국일보</option>
                                </select>
                                <input type="hidden" name="newsLink" th:value="${news.newsLink}" />
                                <input type="hidden" name="selectNewsPress" th:value="${news.newsPress}" />
                                <input type="hidden" name="newsStartDate" value="2021-01-01" />
                                <input type="hidden" name="newsEndDate" th:value="${#temporals.format(#temporals.createNow().minusDays(1), 'yyyy-MM-dd')}"/>
                                <button type="submit" class="btn btn-primary">Choose</button>
                            </form>
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="btn btn-primary mt-3">메인으로</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function changeNewsPress(press) {
            const el = document.getElementsByName("newsPress")
            for (var i = 0, ilen = el.length - 1; i < ilen; i++) {
                el[i].value = press
            }
        }

    </script>
</body>

</html>