h1 {
    text-align: center;
    vertical-align: middle;
}


/* 테이블 내용들 가운데정렬 */
th, tr {
    text-align: center;
    vertical-align: middle;
    font-size: 90%;
}

th {
    font-size: 100%;
}


/* 기사제목만 왼쪽정렬 */
#left_aligned_title {
    text-align: left;
    font-size: 110%;
}


/* 검색 시작 기간 라디오 버튼 */
.select_start_date {
    padding: 15px 10px;
}
.select_start_date input[type=radio]{
    display: none;
}
.select_start_date input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 50px;
    border: 1px solid #b4d4ee;
    border-radius: 4px;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.select_start_date input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select_start_date input[type=radio]:checked+label{
    background-color: #b4d4ee;
    color: #333;
}


/* tool-tip */
/* 컨테이너 설정 */
.tool-tip {
    position: relative;
}

/* 툴팁 기본 스타일 설정 */
.tool-tip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: rgb(226, 226, 226);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}
.tool-tip:hover .tooltiptext {
    visibility: visible;
}

/* 툴팁 화살표 기본 스타일 설정 */
.tool-tip .tooltiptext::after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 5px;
}

/* 위쪽 툴팁 시작 */
.tool-tip .tooltip-top {
    width: 120px;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
.tool-tip .tooltip-top::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: black transparent transparent transparent;
}