<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.news.mapper.BoardMapper">
    
    <select id="selectAll" resultType="com.test.news.dto.Board">
        SELECT * FROM board WHERE board_del = 0 AND board_pub = 0;
    </select>
    
    <select id="selectById" parameterType="int" resultType="com.test.news.dto.Board">
        SELECT * FROM board WHERE board_id = #{id}
    </select>

    <select id="selectByNewsId" parameterType="int" resultType="java.lang.Integer">
        SELECT board_select_id FROM board_selected_news WHERE board_id = #{id}
    </select>

    <select id="selectByComment" parameterType="int" resultType="java.lang.String">
        SELECT board_comment FROM board_selected_news WHERE board_id = #{id}
    </select>

    <insert id="write" parameterType="com.test.news.dto.Board">
        INSERT INTO board (board_title, board_content, board_writer_id, board_create_date, board_update_date, board_news_press, board_news_title, board_news_link, board_news_date, board_pub) 
        VALUES (#{boardTitle}, #{boardContent}, #{boardWriterId}, now() , #{boardUpdateDate}, #{boardNewsPress}, #{boardNewsTitle}, #{boardNewsLink}, #{boardNewsDate}, #{boardPub})
        <selectKey keyProperty="boardId" order="AFTER" resultType="int">
                SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

     <insert id="putList" >       
        INSERT INTO board_selected_news (board_id, board_select_id, board_comment)
        VALUES
        <foreach item="boardIdList" index="index" collection="boardIdList" separator=",">
            (#{id}, #{boardIdList}, #{boardNewsComment[${index}]})
        </foreach>
    </insert>
       
    <update id="update" parameterType="com.test.news.dto.Board">
        UPDATE board 
        SET board_title = #{boardTitle}, board_content = #{boardContent}, board_writer_id = #{boardWriterId}, 
            board_create_date = #{boardCreateDate}, board_update_date = now(), board_pub = #{boardPub}
        WHERE board_id = #{boardId}
    </update>

    <update id="updateComment">
        <foreach item="comment" index="index" collection="boardComment" separator=";">
            UPDATE board_selected_news
                SET board_comment = #{comment}
            WHERE board_id = #{boardId} 
            AND board_select_id = #{newsIdList[${index}]}
        </foreach>
    </update>
    
    <update id="delete" parameterType="int">
         UPDATE board SET board_del = 1 WHERE board_id = #{id}
    </update>

    <select id="getBoardList" parameterType="map" resultType="com.test.news.dto.Board">
    SELECT B.board_id, B.board_title, B.board_writer_id, B.board_create_date, B.board_news_link, U.nickname FROM board B INNER JOIN user U ON B.board_writer_id = U.user_id WHERE board_del = 0 AND board_pub = 0 ORDER BY board_id DESC LIMIT #{startRow}, #{pageSize}
    </select>

    <select id="getBoardCount" resultType="int">
        SELECT COUNT(*) FROM board WHERE board_del = 0 AND board_pub = 0
    </select>

    <select id="searchBoards" parameterType="map" resultType="com.test.news.dto.Board">
        SELECT * FROM board
        WHERE board_title LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY board_id DESC
        LIMIT #{startRow}, #{pageSize}
    </select>

    <select id="searchBoardList" parameterType="hashmap" resultType="com.test.news.dto.Board">
        SELECT b.board_id, b.board_title, b.board_content, b.board_writer_id, b.board_create_date, b.board_update_date, b.board_news_link, u.nickname
        FROM board b
        LEFT JOIN user u ON b.board_writer_id = u.user_id
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'">
                        AND b.board_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'content'">
                        AND b.board_content LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'writer'">
                        AND u.nickname LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY b.board_id DESC
        LIMIT #{startRow}, #{pageSize}
    </select>

    <select id="getBoardCountByKeyword" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM board
        WHERE board_title LIKE CONCAT('%', #{keyword}, '%')
    </select>
    
</mapper>